.tbi-feature {
  background-color: rgb(35, 34, 34);
  padding-top: 70px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  color: white;
  font-size: 30px;
}

body {
  background-color: rgb(211, 211, 211);
}

.row {
  display: flex;
}

.feature .bio {
  font-size: 20px;
  color: black;
}

.p {
  font-size: 30px;
  color: black;
}

.column {
  flex: 20.33%;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.avatar1 {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding-bottom: 5px;
}

.container2 {
  padding: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding-bottom: 8px;
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}



table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* column name*/
.one {
  padding: 16px 50px 16px 50px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
  background-image: linear-gradient(90deg, #321575 0%, #FF057C 100%);
  color: white;
  font-size: 19PX;
}

/* Row*/
.onee {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: white;
  color: #747373;
  font-size: 15PX;
}

.two {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #ddd;
  color: #747373;
}

th {
  background-color: #f2f2f2;
}



@media screen and (max-width: 580px) {
  .container2 {
    flex-direction: column;
  }

  .row {
    display: flex;
  }

  .column {
    width: 100% !important;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  table {
    width: 100% !important;
    border-collapse: collapse;
  }

  th,
  td {
    padding-bottom: 8px;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  .table-responsive {
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 767px) {
  .container2 {
    flex-direction: column;
  }

  .row {
    display: flex;
  }

  .column {
    width: 100% !important;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  table {
    width: 100% !important;
    border-collapse: collapse;
  }

  th,
  td {
    padding-bottom: 8px;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  .table-responsive {
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: scroll;
  }
}