/* pre incubatees */
.feat{
    background-color: rgb(31, 30, 30);
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    color: white;
    font-size: 20px;
  }
  /* .back{
    background-color: #ccc;
  } */
  .mem{
    color: #4272d7;
    font-size: 25px;
  }
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }

  
  .container {
    padding-top: 0px;
    padding-bottom: 25px;
    width: 800px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  /* column name*/
  .one {
    padding: 8px;
    text-align: left;
    border-bottom:1px solid #ddd;
    background-color: #4272d7;
    color: white;
    font-size: 20px;
  }
  /* Row*/
  .onee {
    padding: 8px;
    text-align: left;
    border-bottom:1px solid #ddd;
    background-color: white;
    color: #747373;
  }
  .two {
    padding: 8px;
    text-align: left;
    border-bottom:1px solid #ddd;
    background-color:  #ddd;
    color: #747373;
  }
  th {
    background-color: #f2f2f2;
  }
  


