html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
input {
  border: none;
}
body {
  width: 192rem;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r {
  box-sizing: border-box;
  padding: 13rem 0;
  width: 100%;
  height: 357.18rem;
  background-color: #f5f5f5;

  .divwrapper-gke {
    width: 100%;
    height: 295.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .divinner-banner-Bav {
      background-color: #252525;
      flex-shrink: 0;
      margin-bottom: 12rem;
      box-sizing: border-box;
      padding: 6.75rem 39rem 9.75rem 39rem;
      width: 100%;
      height: 20rem;

      .heading-2-tVL {
        width: 52.867rem;
        height: 100%;
        display: flex;
        align-items: center;

        .list-of-equipments-dC2 {
          line-height: 0.7291666667;
          text-transform: capitalize;
          color: #ffffff;
          flex-shrink: 0;
          margin-right: 2.667rem;
          font-size: 4.8rem;
          font-weight: 300;
          font-family: Roboto, "Source Sans Pro";
          white-space: nowrap;
          display: flex;
        }
        .item--5pi {
          display: flex;
          line-height: 0.7291666667;
          font-family: Roboto, "Source Sans Pro";
          white-space: nowrap;
          font-size: 4.8rem;
          font-weight: 300;
          text-transform: capitalize;
          color: #ffffff;
          flex-shrink: 0;
        }
      }
    }
    .main-section-mxS {
      margin: 0 37.5rem;
      width: calc(100% - 75rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .heading-2-u34 {
        margin: 0rem 17.922rem 12rem 17.998rem;
        width: calc(100% - 35.92rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .item--QEi {
          line-height: 0.7291666667;
          text-transform: capitalize;
          font-family: Roboto, "Source Sans Pro";
          flex-shrink: 0;
          margin-right: 3.624rem;
          justify-content: center;
          font-weight: 300;
          color: #3f51b5;
          white-space: nowrap;
          display: flex;
          align-items: center;
          font-size: 4.8rem;
        }
        .analytical-lab-level-equipments-imC {
          white-space: nowrap;
          margin-right: 3.556rem;
          align-items: center;
          line-height: 0.7291666667;
          text-transform: capitalize;
          color: #252525;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          font-size: 4.8rem;
          font-weight: 300;
          font-family: Roboto, "Source Sans Pro";
        }
        .item--1VQ {
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-size: 4.8rem;
          color: #3f51b5;
          font-family: Roboto, "Source Sans Pro";
          justify-content: center;
          font-weight: 300;
          line-height: 0.7291666667;
          text-transform: capitalize;
          white-space: nowrap;
        }
      }
      .divsimple-masonry-Xie {
        width: 100%;
        row-gap: 0.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 3rem;

        .auto-group-vnnz-4ia {
          width: 100%;
          height: 43.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .divblog-column-PVx {
            height: 100%;
            position: relative;
            overflow: hidden;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
              0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
            border-radius: 0.4rem;
            flex-shrink: 0;
            width: 37rem;

            .hptlcpng-JFY {
              width: 37rem;
              height: 28rem;
              position: relative;
              left: 0;
              top: 0;
              background-size: 100% 100%;
              background-image: url("REPLACE_IMAGE:4bb502f4acdd819dcb079cea220cdaf4f3b40086");
            }
            .divblog-detail-Bq8 {
              left: 0;
              top: 27.378rem;
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0rem 3rem 7rem 3rem;
              width: 37rem;
              height: 16.022rem;
              position: absolute;

              .item--HdG {
                white-space: nowrap;
                margin-bottom: 1.722rem;
                display: flex;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.4285699844;
                color: #3f51b5;
                font-family: Inter, "Source Sans Pro";
              }
              .high-performance-thin-layer-chromatography-hptlc-nK8 {
                max-width: 25.6rem;
                display: flex;
                font-size: 2rem;
                font-weight: 300;
                line-height: 1.1;
                text-transform: capitalize;
                color: #252525;
                font-family: Roboto, "Source Sans Pro";
              }
            }
          }
          .auto-group-seaj-oEE {
            box-sizing: border-box;
            padding-left: 3rem;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .divblog-column-vJr {
              flex-shrink: 0;
              margin-right: 3rem;
              width: 37rem;
              height: 41.2rem;
              position: relative;
              overflow: hidden;
              box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
                0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
              border-radius: 0.4rem;

              .gcpng-qAv {
                top: 0;
                background-size: 100% 100%;
                background-image: url("REPLACE_IMAGE:bb247ba0108650ba76e026f864251ee24a6d1f03");
                width: 37rem;
                height: 28rem;
                position: relative;
                left: 0;
              }
              .divblog-detail-VmG {
                width: 37rem;
                height: 13.822rem;
                position: absolute;
                left: 0;
                top: 27.378rem;
                background-color: #ffffff;
                box-sizing: border-box;
                padding: 0rem 3rem 7rem 3rem;

                .item--xPx {
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.4285699844;
                  color: #3f51b5;
                  font-family: Inter, "Source Sans Pro";
                  white-space: nowrap;
                  margin-bottom: 1.722rem;
                  display: flex;
                }
                .heading-4-gas-chromatography-gc-Sa2 {
                  font-family: Roboto, "Source Sans Pro";
                  white-space: nowrap;
                  display: flex;
                  font-size: 2rem;
                  font-weight: 300;
                  line-height: 1.1;
                  text-transform: capitalize;
                  color: #252525;
                }
              }
            }
            .divblog-column-2HL {
              position: relative;
              overflow: hidden;
              box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
                0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
              border-radius: 0.4rem;
              flex-shrink: 0;
              width: 37rem;
              height: 41.2rem;

              .uvpng-Zo4 {
                width: 37rem;
                height: 28rem;
                position: relative;
                left: 0;
                top: 0;
                background-size: 100% 100%;
                background-image: url("REPLACE_IMAGE:6c494926426f11287ffee10ae032662db4a3d57e");
              }
              .divblog-detail-rXG {
                box-sizing: border-box;
                padding: 0rem 3rem 7rem 3rem;
                width: 37rem;
                height: 13.822rem;
                position: absolute;
                left: 0;
                top: 27.378rem;
                background-color: #ffffff;

                .item--Yut {
                  margin-bottom: 1.722rem;
                  display: flex;
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.4285699844;
                  color: #3f51b5;
                  font-family: Inter, "Source Sans Pro";
                  white-space: nowrap;
                }
                .heading-4-uv-visible-spectrophotometer-gWJ {
                  font-size: 2rem;
                  font-weight: 300;
                  line-height: 1.1;
                  text-transform: capitalize;
                  color: #252525;
                  font-family: Roboto, "Source Sans Pro";
                  white-space: nowrap;
                  display: flex;
                }
              }
            }
          }
        }
        .auto-group-mbxr-Lqk {
          display: flex;
          column-gap: 3rem;
          align-items: flex-start;
          flex-shrink: 0;
          width: 100%;

          .divblog-column-HW6 {
            width: 37rem;
            height: 41.2rem;
            position: relative;
            overflow: hidden;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
              0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
            border-radius: 0.4rem;
            flex-shrink: 0;
            margin-top: 2.2rem;

            .incubatorpng-RcJ {
              position: relative;
              left: 0;
              top: 0;
              background-size: 100% 100%;
              background-image: url("REPLACE_IMAGE:bd4716c9f4282b6d8035fe1c93c7298d4e8b3d50");
              width: 37rem;
              height: 28rem;
            }
            .divblog-detail-wae {
              box-sizing: border-box;
              padding: 0rem 3rem 7rem 3rem;
              width: 37rem;
              height: 13.822rem;
              position: absolute;
              left: 0;
              top: 27.378rem;
              background-color: #ffffff;

              .item--F5Y {
                display: flex;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.4285699844;
                color: #3f51b5;
                font-family: Inter, "Source Sans Pro";
                white-space: nowrap;
                margin-bottom: 1.722rem;
              }
              .heading-4-incubator-aNi {
                font-family: Roboto, "Source Sans Pro";
                white-space: nowrap;
                display: flex;
                font-size: 2rem;
                font-weight: 300;
                line-height: 1.1;
                text-transform: capitalize;
                color: #252525;
              }
            }
          }
          .divblog-column-TBc {
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
              0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
            border-radius: 0.4rem;
            flex-shrink: 0;
            width: 37rem;
            height: 41.2rem;
            position: relative;
            overflow: hidden;

            .autoclavepng-nza {
              width: 37rem;
              height: 28rem;
              position: relative;
              left: 0;
              top: 0;
              background-size: 100% 100%;
              background-image: url("REPLACE_IMAGE:75784706ea49bff384a5a8b92c29b0bbfbbe4a95");
            }
            .divblog-detail-7X4 {
              height: 13.822rem;
              position: absolute;
              left: 0;
              top: 27.378rem;
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0rem 3rem 7rem 3rem;
              width: 37rem;

              .item--2e2 {
                white-space: nowrap;
                margin-bottom: 1.722rem;
                display: flex;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.4285699844;
                color: #3f51b5;
                font-family: Inter, "Source Sans Pro";
              }
              .heading-4-autoclave-AVL {
                font-weight: 300;
                line-height: 1.1;
                text-transform: capitalize;
                color: #252525;
                font-family: Roboto, "Source Sans Pro";
                white-space: nowrap;
                display: flex;
                font-size: 2rem;
              }
            }
          }
          .divblog-column-eQW {
            width: 37rem;
            height: 41.2rem;
            position: relative;
            overflow: hidden;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
              0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
            border-radius: 0.4rem;
            flex-shrink: 0;

            .hotairovenpng-o2W {
              height: 28rem;
              position: relative;
              left: 0;
              top: 0;
              background-size: 100% 100%;
              background-image: url("REPLACE_IMAGE:94f1ca7e2386724bf0e907b3b5208ada9f51f12b");
              width: 37rem;
            }
            .divblog-detail-7ot {
              width: 37rem;
              height: 13.822rem;
              position: absolute;
              left: 0;
              top: 27.378rem;
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0rem 3rem 7rem 3rem;

              .item--eJ2 {
                font-weight: 400;
                line-height: 1.4285699844;
                color: #3f51b5;
                font-family: Inter, "Source Sans Pro";
                white-space: nowrap;
                margin-bottom: 1.722rem;
                display: flex;
                font-size: 2rem;
              }
              .heading-4-hot-air-oven-n9L {
                color: #252525;
                font-family: Roboto, "Source Sans Pro";
                white-space: nowrap;
                display: flex;
                font-size: 2rem;
                font-weight: 300;
                line-height: 1.1;
                text-transform: capitalize;
              }
            }
          }
        }
        .auto-group-lvz4-G4W {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 45.2rem;

          .auto-group-udca-QwQ {
            flex-shrink: 0;
            box-sizing: border-box;
            padding-right: 3rem;
            height: 100%;
            display: flex;
            align-items: center;

            .divblog-column-Mre {
              flex-shrink: 0;
              margin: 2.2rem 3rem 1.8rem 0rem;
              width: 37rem;
              height: calc(100% - 4rem);
              position: relative;
              overflow: hidden;
              box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
                0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
              border-radius: 0.4rem;

              .laminarpng-g8E {
                background-image: url("REPLACE_IMAGE:cb744413d154ab04ffbf158a877a8c0f77be1bf7");
                width: 37rem;
                height: 28rem;
                position: relative;
                left: 0;
                top: 0;
                background-size: 100% 100%;
              }
              .divblog-detail-Q4E {
                background-color: #ffffff;
                box-sizing: border-box;
                padding: 0rem 3rem 7rem 3rem;
                width: 37rem;
                height: 13.822rem;
                position: absolute;
                left: 0;
                top: 27.378rem;

                .item--vYN {
                  font-family: Inter, "Source Sans Pro";
                  white-space: nowrap;
                  margin-bottom: 1.722rem;
                  display: flex;
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.4285699844;
                  color: #3f51b5;
                }
                .heading-4-laminar-air-flow-rgv {
                  font-weight: 300;
                  line-height: 1.1;
                  text-transform: capitalize;
                  color: #252525;
                  font-family: Roboto, "Source Sans Pro";
                  white-space: nowrap;
                  display: flex;
                  font-size: 2rem;
                }
              }
            }
            .divblog-column-WmU {
              width: 37rem;
              height: 41.2rem;
              position: relative;
              overflow: hidden;
              box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
                0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
              border-radius: 0.4rem;
              flex-shrink: 0;
              margin-bottom: 4rem;

              .orbitalpng-raS {
                top: 0;
                background-size: 100% 100%;
                background-image: url("REPLACE_IMAGE:c209e002d88234487e63eb848fae47bd9579d93f");
                width: 37rem;
                height: 28rem;
                position: relative;
                left: 0;
              }
              .divblog-detail-mxJ {
                height: 13.822rem;
                position: absolute;
                left: 0;
                top: 27.378rem;
                background-color: #ffffff;
                box-sizing: border-box;
                padding: 0rem 3rem 7rem 3rem;
                width: 37rem;

                .item--Hve {
                  font-family: Inter, "Source Sans Pro";
                  white-space: nowrap;
                  margin-bottom: 1.722rem;
                  display: flex;
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.4285699844;
                  color: #3f51b5;
                }
                .heading-4-orbital-environmental-shaker-2tE {
                  text-transform: capitalize;
                  color: #252525;
                  font-family: Roboto, "Source Sans Pro";
                  white-space: nowrap;
                  display: flex;
                  font-size: 2rem;
                  font-weight: 300;
                  line-height: 1.1;
                }
              }
            }
          }
          .divblog-column-K6e {
            overflow: hidden;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
              0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
            border-radius: 0.4rem;
            flex-shrink: 0;
            width: 37rem;
            height: 100%;
            position: relative;

            .fermentorpng-55p {
              background-size: 100% 100%;
              background-image: url("REPLACE_IMAGE:eca24c3556dfd3dcde1da9494c141281e9f06a86");
              width: 37rem;
              height: 28rem;
              position: relative;
              left: 0;
              top: 0;
            }
            .divblog-detail-bK4 {
              box-sizing: border-box;
              padding: 0rem 3rem 7rem 3rem;
              width: 37rem;
              height: 17.822rem;
              position: absolute;
              left: 0;
              top: 27.378rem;
              background-color: #ffffff;

              .item--hN6 {
                color: #3f51b5;
                font-family: Inter, "Source Sans Pro";
                white-space: nowrap;
                margin-bottom: 1.722rem;
                display: flex;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.4285699844;
              }
              .list-eHL {
                height: 2rem;
                overflow: hidden;
                position: relative;
                display: flex;
                align-items: center;
                margin: 0rem 4.566rem 2rem 0rem;
                width: calc(100% - 4.566rem);

                .item-NUE {
                  margin-right: 2.734rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .icon-iY6 {
                    width: 1.3rem;
                    height: 1.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1rem;
                  }
                  .december-4-2016-reJ {
                    line-height: 1.4285714286;
                    font-style: italic;
                    font-family: Roboto, "Source Sans Pro";
                    white-space: nowrap;
                    display: flex;
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: #b6b6b6;
                    flex-shrink: 0;
                  }
                }
                .item-BRg {
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .icon-wfk {
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1rem;
                    width: 1.1rem;
                    height: 1.2rem;
                  }
                  .aaron-dzoan-5GA {
                    font-style: italic;
                    font-family: Roboto, "Source Sans Pro";
                    flex-shrink: 0;
                    display: flex;
                    font-weight: 400;
                    color: #b6b6b6;
                    white-space: nowrap;
                    font-size: 1.4rem;
                    line-height: 1.4285714286;
                  }
                }
              }
              .heading-4-fermentorv-100l-QpE {
                font-size: 2rem;
                font-weight: 300;
                line-height: 1.1;
                text-transform: capitalize;
                color: #252525;
                font-family: Roboto, "Source Sans Pro";
                white-space: nowrap;
                display: flex;
              }
            }
          }
        }
      }
      .heading-2-tDc {
        margin: 0rem 8.691rem 12rem 8.766rem;
        width: calc(100% - 17.457rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .item--1p2 {
          justify-content: center;
          font-size: 4.8rem;
          line-height: 0.7291666667;
          text-transform: capitalize;
          color: #3f51b5;
          flex-shrink: 0;
          align-items: center;
          display: flex;
          font-weight: 300;
          font-family: Roboto, "Source Sans Pro";
          white-space: nowrap;
          margin-right: 3.123rem;
        }
        .pilot-stage-processing-area-machineries-XnN {
          font-size: 4.8rem;
          text-transform: capitalize;
          color: #252525;
          margin-right: 3.22rem;
          align-items: center;
          justify-content: center;
          font-family: Roboto, "Source Sans Pro";
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-weight: 300;
          line-height: 0.7291666667;
        }
        .item--Dv6 {
          justify-content: center;
          font-size: 4.8rem;
          font-weight: 300;
          text-transform: capitalize;
          display: flex;
          align-items: center;
          font-family: Roboto, "Source Sans Pro";
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 0.7291666667;
          color: #3f51b5;
        }
      }
      .divsimple-masonry-x6z {
        width: 100%;
        height: 95.8rem;
        display: flex;
        column-gap: 3rem;
        align-items: center;
        flex-shrink: 0;

        .auto-group-uckn-Ur2 {
          flex-shrink: 0;
          width: 37rem;
          height: 100%;
          position: relative;

          .divblog-column-qRg {
            height: 41.2rem;
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
              0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
            border-radius: 0.4rem;
            width: 37rem;

            .colloidalpng-BVY {
              width: 37rem;
              height: 28rem;
              position: relative;
              left: 0;
              top: 0;
              background-size: 100% 100%;
              background-image: url("REPLACE_IMAGE:2e3be56b517babcce9d07920f219599c8b7782e1");
            }
            .divblog-detail-uRY {
              height: 13.822rem;
              position: absolute;
              left: 0;
              top: 27.378rem;
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0rem 3rem 7rem 3rem;
              width: 37rem;

              .item--cKx {
                line-height: 1.4285699844;
                color: #3f51b5;
                font-family: Inter, "Source Sans Pro";
                white-space: nowrap;
                margin-bottom: 1.722rem;
                display: flex;
                font-size: 2rem;
                font-weight: 400;
              }
              .heading-4-colloid-mill-wNE {
                font-size: 2rem;
                font-weight: 300;
                line-height: 1.1;
                text-transform: capitalize;
                color: #252525;
                font-family: Roboto, "Source Sans Pro";
                white-space: nowrap;
                display: flex;
              }
            }
          }
          .divblog-column-28n {
            width: 37rem;
            height: 41.2rem;
            position: absolute;
            left: 0;
            top: 18.2rem;
            overflow: hidden;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
              0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
            border-radius: 0.4rem;

            .steamjacketedvesselpng-V2N {
              top: 0;
              background-size: 100% 100%;
              background-image: url("REPLACE_IMAGE:04b98284bece26b5e5c8225a3afbeba159d82b29");
              width: 37rem;
              height: 28rem;
              position: relative;
              left: 0;
            }
            .divblog-detail-PdY {
              box-sizing: border-box;
              padding: 0rem 3rem 7rem 3rem;
              width: 37rem;
              height: 13.822rem;
              position: absolute;
              left: 0;
              top: 27.378rem;
              background-color: #ffffff;

              .item--KGJ {
                font-weight: 400;
                line-height: 1.4285699844;
                color: #3f51b5;
                font-family: Inter, "Source Sans Pro";
                white-space: nowrap;
                margin-bottom: 1.722rem;
                display: flex;
                font-size: 2rem;
              }
              .heading-4-steam-jacketed-vessel-T7c {
                color: #252525;
                font-family: Roboto, "Source Sans Pro";
                white-space: nowrap;
                display: flex;
                font-size: 2rem;
                font-weight: 300;
                line-height: 1.1;
                text-transform: capitalize;
              }
            }
          }
          .divblog-column-XdG {
            border-radius: 0.4rem;
            width: 37rem;
            height: 41.2rem;
            position: absolute;
            left: 0;
            top: 36.4rem;
            overflow: hidden;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
              0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);

            .fruitmillpng-G54 {
              left: 0;
              top: 0;
              background-size: 100% 100%;
              background-image: url("REPLACE_IMAGE:332cb4ef4874858a8689a8ec578bee460807357a");
              width: 37rem;
              height: 28rem;
              position: relative;
            }
            .divblog-detail-Ntn {
              height: 13.822rem;
              position: absolute;
              left: 0;
              top: 27.378rem;
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0rem 3rem 7rem 3rem;
              width: 37rem;

              .item--75g {
                display: flex;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.4285699844;
                color: #3f51b5;
                font-family: Inter, "Source Sans Pro";
                white-space: nowrap;
                margin-bottom: 1.722rem;
              }
              .heading-4-fruit-mill-r3G {
                color: #252525;
                font-family: Roboto, "Source Sans Pro";
                white-space: nowrap;
                display: flex;
                font-size: 2rem;
                font-weight: 300;
                line-height: 1.1;
                text-transform: capitalize;
              }
            }
          }
          .divblog-column-jcr {
            width: 37rem;
            height: 41.2rem;
            position: absolute;
            left: 0;
            top: 54.6rem;
            overflow: hidden;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
              0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
            border-radius: 0.4rem;

            .floumillpng-HPU {
              width: 37rem;
              height: 28rem;
              position: relative;
              left: 0;
              top: 0;
              background-size: 100% 100%;
              background-image: url("REPLACE_IMAGE:d1b2a0edecebf96f22ccb9ec78bdf4a9fc48afd6");
            }
            .divblog-detail-1qG {
              left: 0;
              top: 27.378rem;
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0rem 3rem 7rem 3rem;
              width: 37rem;
              height: 13.822rem;
              position: absolute;

              .item--LsY {
                margin-bottom: 1.722rem;
                display: flex;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.4285699844;
                color: #3f51b5;
                font-family: Inter, "Source Sans Pro";
                white-space: nowrap;
              }
              .heading-4-flour-mill-Uyk {
                display: flex;
                font-size: 2rem;
                font-weight: 300;
                line-height: 1.1;
                text-transform: capitalize;
                color: #252525;
                font-family: Roboto, "Source Sans Pro";
                white-space: nowrap;
              }
            }
          }
        }
        .auto-group-ouoc-xtv {
          flex-shrink: 0;
          width: 37rem;
          height: 100%;
          position: relative;

          .divblog-column-Jxn {
            width: 37rem;
            height: 41.2rem;
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
              0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
            border-radius: 0.4rem;

            .powderpng-4h4 {
              height: 28rem;
              position: relative;
              left: 0;
              top: 0;
              background-size: 100% 100%;
              background-image: url("REPLACE_IMAGE:9973327dde6bed47b81230df27b923c203c23481");
              width: 37rem;
            }
            .divblog-detail-PzE {
              box-sizing: border-box;
              padding: 0rem 3rem 7rem 3rem;
              width: 37rem;
              height: 13.822rem;
              position: absolute;
              left: 0;
              top: 27.378rem;
              background-color: #ffffff;

              .item--WZ4 {
                white-space: nowrap;
                margin-bottom: 1.722rem;
                display: flex;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.4285699844;
                color: #3f51b5;
                font-family: Inter, "Source Sans Pro";
              }
              .heading-4-powder-packing-machine-3Yz {
                font-size: 2rem;
                font-weight: 300;
                line-height: 1.1;
                text-transform: capitalize;
                color: #252525;
                font-family: Roboto, "Source Sans Pro";
                white-space: nowrap;
                display: flex;
              }
            }
          }
          .divblog-column-if8 {
            overflow: hidden;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
              0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
            border-radius: 0.4rem;
            width: 37rem;
            height: 41.2rem;
            position: absolute;
            left: 0;
            top: 18.2rem;

            .vacuumconcentratorpng-fKU {
              top: 0;
              background-size: 100% 100%;
              background-image: url("REPLACE_IMAGE:b1d214bb3d42233a93db8248fd20f0044767ce2b");
              width: 37rem;
              height: 28rem;
              position: relative;
              left: 0;
            }
            .divblog-detail-z6r {
              left: 0;
              top: 27.378rem;
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0rem 3rem 7rem 3rem;
              width: 37rem;
              height: 13.822rem;
              position: absolute;

              .item--H5x {
                display: flex;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.4285699844;
                color: #3f51b5;
                font-family: Inter, "Source Sans Pro";
                white-space: nowrap;
                margin-bottom: 1.722rem;
              }
              .heading-4-vacuum-concentrator-Cyc {
                line-height: 1.1;
                text-transform: capitalize;
                color: #252525;
                font-family: Roboto, "Source Sans Pro";
                white-space: nowrap;
                display: flex;
                font-size: 2rem;
                font-weight: 300;
              }
            }
          }
          .divblog-column-Vhp {
            top: 36.4rem;
            overflow: hidden;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
              0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
            border-radius: 0.4rem;
            width: 37rem;
            height: 41.2rem;
            position: absolute;
            left: 0;

            .holdingtankpng-EfQ {
              width: 37rem;
              height: 28rem;
              position: relative;
              left: 0;
              top: 0;
              background-size: 100% 100%;
              background-image: url("REPLACE_IMAGE:d4c342046bf5ba77721aa6ae87c17f136d6aad2a");
            }
            .divblog-detail-kNr {
              width: 37rem;
              height: 13.822rem;
              position: absolute;
              left: 0;
              top: 27.378rem;
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0rem 3rem 7rem 3rem;

              .item--FaW {
                white-space: nowrap;
                margin-bottom: 1.722rem;
                display: flex;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.4285699844;
                color: #3f51b5;
                font-family: Inter, "Source Sans Pro";
              }
              .heading-4-holding-tank-nqL {
                line-height: 1.1;
                text-transform: capitalize;
                color: #252525;
                font-family: Roboto, "Source Sans Pro";
                white-space: nowrap;
                display: flex;
                font-size: 2rem;
                font-weight: 300;
              }
            }
          }
          .divblog-column-gA2 {
            width: 37rem;
            height: 41.2rem;
            position: absolute;
            left: 0;
            top: 54.6rem;
            overflow: hidden;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
              0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
            border-radius: 0.4rem;

            .pulverizerpng-Dfk {
              width: 37rem;
              height: 28rem;
              position: relative;
              left: 0;
              top: 0;
              background-size: 100% 100%;
              background-image: url("REPLACE_IMAGE:6b8dd8893327fe0616c7e600637bfb4b91bc9914");
            }
            .divblog-detail-kQn {
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0rem 3rem 7rem 3rem;
              width: 37rem;
              height: 13.822rem;
              position: absolute;
              left: 0;
              top: 27.378rem;

              .item--sVQ {
                font-weight: 400;
                line-height: 1.4285699844;
                color: #3f51b5;
                font-family: Inter, "Source Sans Pro";
                white-space: nowrap;
                margin-bottom: 1.722rem;
                display: flex;
                font-size: 2rem;
              }
              .heading-4-pulverizer-oP4 {
                font-size: 2rem;
                font-weight: 300;
                line-height: 1.1;
                text-transform: capitalize;
                color: #252525;
                font-family: Roboto, "Source Sans Pro";
                white-space: nowrap;
                display: flex;
              }
            }
          }
        }
        .auto-group-istr-tQW {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          width: 37rem;

          .divblog-column-qae {
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
              0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
            border-radius: 0.4rem;
            width: 37rem;
            height: 41.2rem;

            .liquidpng-ao8 {
              left: 0;
              top: 0;
              background-size: 100% 100%;
              background-image: url("REPLACE_IMAGE:cfc4abd2e611f85735086d9eec94d68f0b66e62f");
              width: 37rem;
              height: 28rem;
              position: relative;
            }
            .divblog-detail-6mU {
              width: 37rem;
              height: 13.822rem;
              position: absolute;
              left: 0;
              top: 27.378rem;
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0rem 3rem 7rem 3rem;

              .item--Dr6 {
                color: #3f51b5;
                font-family: Inter, "Source Sans Pro";
                white-space: nowrap;
                margin-bottom: 1.722rem;
                display: flex;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.4285699844;
              }
              .heading-4-liquid-packing-machine-NDC {
                font-weight: 300;
                line-height: 1.1;
                text-transform: capitalize;
                color: #252525;
                font-family: Roboto, "Source Sans Pro";
                white-space: nowrap;
                display: flex;
                font-size: 2rem;
              }
            }
          }
          .divblog-column-qsU {
            border-radius: 0.4rem;
            width: 37rem;
            height: 41.2rem;
            position: absolute;
            left: 0;
            top: 18.2rem;
            overflow: hidden;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
              0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);

            .finishingpulperpng-BAe {
              position: relative;
              left: 0;
              top: 0;
              background-size: 100% 100%;
              background-image: url("REPLACE_IMAGE:a227e3443398bef838bc8d2d0659bce199a8b659");
              width: 37rem;
              height: 28rem;
            }
            .divblog-detail-WCv {
              width: 37rem;
              height: 13.822rem;
              position: absolute;
              left: 0;
              top: 27.378rem;
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0rem 3rem 7rem 3rem;

              .item--S6a {
                font-family: Inter, "Source Sans Pro";
                white-space: nowrap;
                margin-bottom: 1.722rem;
                display: flex;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.4285699844;
                color: #3f51b5;
              }
              .heading-4-finishing-pulper-y6W {
                display: flex;
                font-size: 2rem;
                font-weight: 300;
                line-height: 1.1;
                text-transform: capitalize;
                color: #252525;
                font-family: Roboto, "Source Sans Pro";
                white-space: nowrap;
              }
            }
          }
          .divblog-column-rAJ {
            width: 37rem;
            height: 41.2rem;
            position: absolute;
            left: 0;
            top: 36.4rem;
            overflow: hidden;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
              0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
            border-radius: 0.4rem;

            .aloeverasqueezerpng-Pvv {
              width: 37rem;
              height: 28rem;
              position: relative;
              left: 0;
              top: 0;
              background-size: 100% 100%;
              background-image: url("REPLACE_IMAGE:128cf3d5843eb4af67677207a20c9da597724687");
            }
            .divblog-detail-X1Y {
              box-sizing: border-box;
              padding: 0rem 3rem 7rem 3rem;
              width: 37rem;
              height: 13.822rem;
              position: absolute;
              left: 0;
              top: 27.378rem;
              background-color: #ffffff;

              .item--SeJ {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.4285699844;
                color: #3f51b5;
                font-family: Inter, "Source Sans Pro";
                white-space: nowrap;
                margin-bottom: 1.722rem;
                display: flex;
              }
              .heading-4-aloe-vera-squeezer-mwU {
                font-weight: 300;
                line-height: 1.1;
                text-transform: capitalize;
                color: #252525;
                font-family: Roboto, "Source Sans Pro";
                white-space: nowrap;
                display: flex;
                font-size: 2rem;
              }
            }
          }
          .divblog-column-Fbk {
            overflow: hidden;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946),
              0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
            border-radius: 0.4rem;
            width: 37rem;
            height: 41.2rem;
            position: absolute;
            left: 0;
            top: 54.6rem;

            .roasterpng-bQi {
              height: 28rem;
              position: relative;
              left: 0;
              top: 0;
              background-size: 100% 100%;
              background-image: url("REPLACE_IMAGE:397f950127ca73f7fc8ebd075858c162157e2c95");
              width: 37rem;
            }
            .divblog-detail-Wna {
              padding: 0rem 3rem 7rem 3rem;
              width: 37rem;
              height: 13.822rem;
              position: absolute;
              left: 0;
              top: 27.378rem;
              background-color: #ffffff;
              box-sizing: border-box;

              .item--e86 {
                display: flex;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.4285699844;
                color: #3f51b5;
                font-family: Inter, "Source Sans Pro";
                white-space: nowrap;
                margin-bottom: 1.722rem;
              }
              .heading-4-roaster-AML {
                color: #252525;
                font-family: Roboto, "Source Sans Pro";
                white-space: nowrap;
                display: flex;
                font-size: 2rem;
                font-weight: 300;
                line-height: 1.1;
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }
  }
}
