
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r {
  box-sizing: border-box;
  padding: 13rem 0;
  width: 100%;
  height: 357.18rem;
  background-color: #f5f5f5;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke {
  width: 100%;
  height: 295.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .divinner-banner-Bav {
  margin-bottom: 12rem;
  box-sizing: border-box;
  padding: 6.75rem 39rem 9.75rem 39rem;
  width: 100%;
  height: 20rem;
  background-color: #252525;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .divinner-banner-Bav .heading-2-tVL {
  width: 52.867rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .divinner-banner-Bav .heading-2-tVL .list-of-equipments-dC2 {
  margin-right: 2.667rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 0.7291666667;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .divinner-banner-Bav .heading-2-tVL .item--5pi {
  display: flex;
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 0.7291666667;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS {
  margin: 0 37.5rem;
  width: calc(100% - 75rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .heading-2-u34 {
  margin: 0rem 17.922rem 12rem 17.998rem;
  width: calc(100% - 35.92rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .heading-2-u34 .item--QEi {
  margin-right: 3.624rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 0.7291666667;
  text-transform: capitalize;
  color: #3f51b5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .heading-2-u34 .analytical-lab-level-equipments-imC {
  margin-right: 3.556rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 0.7291666667;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .heading-2-u34 .item--1VQ {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 0.7291666667;
  text-transform: capitalize;
  color: #3f51b5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie {
  margin-bottom: 3rem;
  width: 100%;
  row-gap: 0.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-vnnz-4ia {
  width: 100%;
  height: 43.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-vnnz-4ia .divblog-column-PVx {
  width: 37rem;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-vnnz-4ia .divblog-column-PVx .hptlcpng-JFY {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/hptlcpng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-vnnz-4ia .divblog-column-PVx .divblog-detail-Bq8 {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 16.022rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-vnnz-4ia .divblog-column-PVx .divblog-detail-Bq8 .item--HdG {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-vnnz-4ia .divblog-column-PVx .divblog-detail-Bq8 .high-performance-thin-layer-chromatography-hptlc-nK8 {
  max-width: 25.6rem;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-vnnz-4ia .auto-group-seaj-oEE {
  box-sizing: border-box;
  padding-left: 3rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-vnnz-4ia .auto-group-seaj-oEE .divblog-column-vJr {
  margin-right: 3rem;
  width: 37rem;
  height: 41.2rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-vnnz-4ia .auto-group-seaj-oEE .divblog-column-vJr .gcpng-qAv {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/gcpng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-vnnz-4ia .auto-group-seaj-oEE .divblog-column-vJr .divblog-detail-VmG {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 13.822rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-vnnz-4ia .auto-group-seaj-oEE .divblog-column-vJr .divblog-detail-VmG .item--xPx {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-vnnz-4ia .auto-group-seaj-oEE .divblog-column-vJr .divblog-detail-VmG .heading-4-gas-chromatography-gc-Sa2 {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-vnnz-4ia .auto-group-seaj-oEE .divblog-column-2HL {
  width: 37rem;
  height: 41.2rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-vnnz-4ia .auto-group-seaj-oEE .divblog-column-2HL .uvpng-Zo4 {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/uvpng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-vnnz-4ia .auto-group-seaj-oEE .divblog-column-2HL .divblog-detail-rXG {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 13.822rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-vnnz-4ia .auto-group-seaj-oEE .divblog-column-2HL .divblog-detail-rXG .item--Yut {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-vnnz-4ia .auto-group-seaj-oEE .divblog-column-2HL .divblog-detail-rXG .heading-4-uv-visible-spectrophotometer-gWJ {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-mbxr-Lqk {
  width: 100%;
  display: flex;
  column-gap: 3rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-mbxr-Lqk .divblog-column-HW6 {
  margin-top: 2.2rem;
  width: 37rem;
  height: 41.2rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-mbxr-Lqk .divblog-column-HW6 .incubatorpng-RcJ {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/incubatorpng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-mbxr-Lqk .divblog-column-HW6 .divblog-detail-wae {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 13.822rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-mbxr-Lqk .divblog-column-HW6 .divblog-detail-wae .item--F5Y {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-mbxr-Lqk .divblog-column-HW6 .divblog-detail-wae .heading-4-incubator-aNi {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-mbxr-Lqk .divblog-column-TBc {
  width: 37rem;
  height: 41.2rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-mbxr-Lqk .divblog-column-TBc .autoclavepng-nza {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/autoclavepng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-mbxr-Lqk .divblog-column-TBc .divblog-detail-7X4 {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 13.822rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-mbxr-Lqk .divblog-column-TBc .divblog-detail-7X4 .item--2e2 {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-mbxr-Lqk .divblog-column-TBc .divblog-detail-7X4 .heading-4-autoclave-AVL {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-mbxr-Lqk .divblog-column-eQW {
  width: 37rem;
  height: 41.2rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-mbxr-Lqk .divblog-column-eQW .hotairovenpng-o2W {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/hotairovenpng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-mbxr-Lqk .divblog-column-eQW .divblog-detail-7ot {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 13.822rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-mbxr-Lqk .divblog-column-eQW .divblog-detail-7ot .item--eJ2 {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-mbxr-Lqk .divblog-column-eQW .divblog-detail-7ot .heading-4-hot-air-oven-n9L {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W {
  width: 100%;
  height: 45.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .auto-group-udca-QwQ {
  box-sizing: border-box;
  padding-right: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .auto-group-udca-QwQ .divblog-column-Mre {
  margin: 2.2rem 3rem 1.8rem 0rem;
  width: 37rem;
  height: calc(100% - 4rem);
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .auto-group-udca-QwQ .divblog-column-Mre .laminarpng-g8E {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/laminarpng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .auto-group-udca-QwQ .divblog-column-Mre .divblog-detail-Q4E {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 13.822rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .auto-group-udca-QwQ .divblog-column-Mre .divblog-detail-Q4E .item--vYN {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .auto-group-udca-QwQ .divblog-column-Mre .divblog-detail-Q4E .heading-4-laminar-air-flow-rgv {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .auto-group-udca-QwQ .divblog-column-WmU {
  margin-bottom: 4rem;
  width: 37rem;
  height: 41.2rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .auto-group-udca-QwQ .divblog-column-WmU .orbitalpng-raS {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/orbitalpng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .auto-group-udca-QwQ .divblog-column-WmU .divblog-detail-mxJ {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 13.822rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .auto-group-udca-QwQ .divblog-column-WmU .divblog-detail-mxJ .item--Hve {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .auto-group-udca-QwQ .divblog-column-WmU .divblog-detail-mxJ .heading-4-orbital-environmental-shaker-2tE {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .divblog-column-K6e {
  width: 37rem;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .divblog-column-K6e .fermentorpng-55p {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/fermentorpng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .divblog-column-K6e .divblog-detail-bK4 {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 17.822rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .divblog-column-K6e .divblog-detail-bK4 .item--hN6 {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .divblog-column-K6e .divblog-detail-bK4 .list-eHL {
  margin: 0rem 4.566rem 2rem 0rem;
  width: calc(100% - 4.566rem);
  height: 2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .divblog-column-K6e .divblog-detail-bK4 .list-eHL .item-NUE {
  margin-right: 2.734rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .divblog-column-K6e .divblog-detail-bK4 .list-eHL .item-NUE .icon-iY6 {
  margin-right: 1rem;
  width: 1.3rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .divblog-column-K6e .divblog-detail-bK4 .list-eHL .item-NUE .december-4-2016-reJ {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  font-style: italic;
  color: #b6b6b6;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .divblog-column-K6e .divblog-detail-bK4 .list-eHL .item-BRg {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .divblog-column-K6e .divblog-detail-bK4 .list-eHL .item-BRg .icon-wfk {
  margin-right: 1rem;
  width: 1.1rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .divblog-column-K6e .divblog-detail-bK4 .list-eHL .item-BRg .aaron-dzoan-5GA {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  font-style: italic;
  color: #b6b6b6;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-Xie .auto-group-lvz4-G4W .divblog-column-K6e .divblog-detail-bK4 .heading-4-fermentorv-100l-QpE {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .heading-2-tDc {
  margin: 0rem 8.691rem 12rem 8.766rem;
  width: calc(100% - 17.457rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .heading-2-tDc .item--1p2 {
  margin-right: 3.123rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 0.7291666667;
  text-transform: capitalize;
  color: #3f51b5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .heading-2-tDc .pilot-stage-processing-area-machineries-XnN {
  margin-right: 3.22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 0.7291666667;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .heading-2-tDc .item--Dv6 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 0.7291666667;
  text-transform: capitalize;
  color: #3f51b5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z {
  width: 100%;
  height: 95.8rem;
  display: flex;
  column-gap: 3rem;
  align-items: center;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 {
  width: 37rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 .divblog-column-qRg {
  width: 37rem;
  height: 41.2rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 .divblog-column-qRg .colloidalpng-BVY {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/colloidalpng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 .divblog-column-qRg .divblog-detail-uRY {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 13.822rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 .divblog-column-qRg .divblog-detail-uRY .item--cKx {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 .divblog-column-qRg .divblog-detail-uRY .heading-4-colloid-mill-wNE {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 .divblog-column-28n {
  width: 37rem;
  height: 41.2rem;
  position: absolute;
  left: 0;
  top: 18.2rem;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 .divblog-column-28n .steamjacketedvesselpng-V2N {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/steamjacketedvesselpng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 .divblog-column-28n .divblog-detail-PdY {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 13.822rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 .divblog-column-28n .divblog-detail-PdY .item--KGJ {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 .divblog-column-28n .divblog-detail-PdY .heading-4-steam-jacketed-vessel-T7c {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 .divblog-column-XdG {
  width: 37rem;
  height: 41.2rem;
  position: absolute;
  left: 0;
  top: 36.4rem;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 .divblog-column-XdG .fruitmillpng-G54 {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/fruitmillpng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 .divblog-column-XdG .divblog-detail-Ntn {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 13.822rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 .divblog-column-XdG .divblog-detail-Ntn .item--75g {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 .divblog-column-XdG .divblog-detail-Ntn .heading-4-fruit-mill-r3G {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 .divblog-column-jcr {
  width: 37rem;
  height: 41.2rem;
  position: absolute;
  left: 0;
  top: 54.6rem;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 .divblog-column-jcr .floumillpng-HPU {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/floumillpng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 .divblog-column-jcr .divblog-detail-1qG {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 13.822rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 .divblog-column-jcr .divblog-detail-1qG .item--LsY {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-uckn-Ur2 .divblog-column-jcr .divblog-detail-1qG .heading-4-flour-mill-Uyk {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv {
  width: 37rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv .divblog-column-Jxn {
  width: 37rem;
  height: 41.2rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv .divblog-column-Jxn .powderpng-4h4 {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/powderpng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv .divblog-column-Jxn .divblog-detail-PzE {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 13.822rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv .divblog-column-Jxn .divblog-detail-PzE .item--WZ4 {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv .divblog-column-Jxn .divblog-detail-PzE .heading-4-powder-packing-machine-3Yz {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv .divblog-column-if8 {
  width: 37rem;
  height: 41.2rem;
  position: absolute;
  left: 0;
  top: 18.2rem;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv .divblog-column-if8 .vacuumconcentratorpng-fKU {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/vacuumconcentratorpng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv .divblog-column-if8 .divblog-detail-z6r {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 13.822rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv .divblog-column-if8 .divblog-detail-z6r .item--H5x {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv .divblog-column-if8 .divblog-detail-z6r .heading-4-vacuum-concentrator-Cyc {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv .divblog-column-Vhp {
  width: 37rem;
  height: 41.2rem;
  position: absolute;
  left: 0;
  top: 36.4rem;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv .divblog-column-Vhp .holdingtankpng-EfQ {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/holdingtankpng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv .divblog-column-Vhp .divblog-detail-kNr {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 13.822rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv .divblog-column-Vhp .divblog-detail-kNr .item--FaW {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv .divblog-column-Vhp .divblog-detail-kNr .heading-4-holding-tank-nqL {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv .divblog-column-gA2 {
  width: 37rem;
  height: 41.2rem;
  position: absolute;
  left: 0;
  top: 54.6rem;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv .divblog-column-gA2 .pulverizerpng-Dfk {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/pulverizerpng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv .divblog-column-gA2 .divblog-detail-kQn {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 13.822rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv .divblog-column-gA2 .divblog-detail-kQn .item--sVQ {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-ouoc-xtv .divblog-column-gA2 .divblog-detail-kQn .heading-4-pulverizer-oP4 {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW {
  width: 37rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW .divblog-column-qae {
  width: 37rem;
  height: 41.2rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW .divblog-column-qae .liquidpng-ao8 {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/liquidpng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW .divblog-column-qae .divblog-detail-6mU {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 13.822rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW .divblog-column-qae .divblog-detail-6mU .item--Dr6 {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW .divblog-column-qae .divblog-detail-6mU .heading-4-liquid-packing-machine-NDC {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW .divblog-column-qsU {
  width: 37rem;
  height: 41.2rem;
  position: absolute;
  left: 0;
  top: 18.2rem;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW .divblog-column-qsU .finishingpulperpng-BAe {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/finishingpulperpng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW .divblog-column-qsU .divblog-detail-WCv {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 13.822rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW .divblog-column-qsU .divblog-detail-WCv .item--S6a {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW .divblog-column-qsU .divblog-detail-WCv .heading-4-finishing-pulper-y6W {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW .divblog-column-rAJ {
  width: 37rem;
  height: 41.2rem;
  position: absolute;
  left: 0;
  top: 36.4rem;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW .divblog-column-rAJ .aloeverasqueezerpng-Pvv {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/aloeverasqueezerpng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW .divblog-column-rAJ .divblog-detail-X1Y {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 13.822rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW .divblog-column-rAJ .divblog-detail-X1Y .item--SeJ {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW .divblog-column-rAJ .divblog-detail-X1Y .heading-4-aloe-vera-squeezer-mwU {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW .divblog-column-Fbk {
  width: 37rem;
  height: 41.2rem;
  position: absolute;
  left: 0;
  top: 54.6rem;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2399999946), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1199999973);
  border-radius: 0.4rem;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW .divblog-column-Fbk .roasterpng-bQi {
  width: 37rem;
  height: 28rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/img/roasterpng.png');
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW .divblog-column-Fbk .divblog-detail-Wna {
  box-sizing: border-box;
  padding: 0rem 3rem 7rem 3rem;
  width: 37rem;
  height: 13.822rem;
  position: absolute;
  left: 0;
  top: 27.378rem;
  background-color: #ffffff;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW .divblog-column-Fbk .divblog-detail-Wna .item--e86 {
  margin-bottom: 1.722rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4285699844;
  color: #3f51b5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bittbicom-by-htmltodesign-free-version-02-06-2023-16-18-45-gmt5-30-w8r .divwrapper-gke .main-section-mxS .divsimple-masonry-x6z .auto-group-istr-tQW .divblog-column-Fbk .divblog-detail-Wna .heading-4-roaster-AML {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: capitalize;
  color: #252525;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
